body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.main_div_page1 {
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 100%;
}

.heder-text {
    font-size: 30px; 
    padding: 20px 10px;
}

.description {
    color: rgb(172, 173, 175);
    font-family: 'Font Name', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

span {
    color: #000000;
    background-color: rgb(214, 222, 233);
    padding: 3px;
}

a button {
    color: #ffffff;
    background-color: #000000;
    padding: 15px;
    font-family: 'Font Name', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-wrap: wrap; 
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    max-width: 500px;
    min-width: 250px;
    margin: 10px;
    overflow: hidden;
    border: 1px solid  #fff;
    box-sizing: border-box; 
}

.card img {
    position: relative;
    vertical-align: top;
    max-width: 100%;
    transition: all 2s;
}
.card:hover img {
    transform: scale(1.1);
}

.card .figcaption {
    position: absolute;
    padding: 15px 0px 40px;
    bottom: 0;
    width: 170px;
    left: 0;
}

.card .image_text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 20px;
}

.card .image_text:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.card:hover .image_text:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
