.container {
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
    padding: 20px;
}

h1 {

    text-align: center;
    margin: 0px 30px;
    margin-top: 30px;
}

.collections-list {
    display: flex;
    flex-wrap: wrap;
}

.collections-card {
    margin: 10px;
    position: relative;
    width: calc(25.333% - 20px);
}

.image-part {
    cursor: pointer;
    position: relative;
    /* overflow: hidden; */
    box-shadow: inset rgba(0, 0, 0, 0.9);
}

.image-c {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);

}

.image-c:hover {
    transform: scale(1.05);
}

.name-part {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}

.name-part:hover {
    background: rgba(0, 0, 0, 0.7);
}

                    