footer {
    background-color: #DBE2E9;
}

.top_se {
    display: flex;
    justify-content: center;
}

.footer_strat {
    background-color: #DBE2E9;
    margin: 10px 35px;
}

.footer_top_sectiomn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footer_strat p {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.footer_strat img {
    width: 40px;
}

.footer_center_part {
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}

.detalis ul {
    text-align: justify;
    margin: 0px 30px;
    width: max-content;
}

.detalis ul li {
    list-style-type: none;
}

.detalis ul li a {
    text-decoration: none;
    color: #212326;
    font-size: 13px;
    font-family: 'system-ui';
}

.data {
    display: flex;
    margin-right: 80px;
}

.detalis ul h4 {
    color: #6B7177;
    font-family: 'system-ui';
    text-align: start;
    font-size: 12px;
    margin: 30px 0px 30px 0px;
}

.side_detalis {
    margin-left: 90px;
    text-align: start;
    display: grid;
    width: 30%;
    max-width: 100%;
}

.side_detalis h4 {
    color: #6B7177;
    font-size: 13px;
    font-family: 'system-ui';
}

.side_detalis p {
    width: 56%;
    font-family: 'system-ui';
    color: #24474C;
    font-size: 12px;
}

input {
    background-color: #DBE2E9;
    border: none;
    margin: 20px 0px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.follow {
    padding: 20px 0px;
}

.footer_icon_section {
    display: flex;
}

.footer_icon_section .icon {
    color: #42474c;
    margin: 0px 20px 0px 0px;
}

.footer_last_part {
    text-align: justify;
    display: block;
    margin: 0 auto;
    justify-content: center;
    max-width: 30%;
    padding-bottom: 30px;
}

.footer_last_part p {
    color: #6B7177;
    margin: 0px;
    font-size: 12px;
}

.se_1 {
    display: flex;
    justify-content: center;
    margin: 0;
}

.se_2 {
    display: flex;
    justify-content: center;
    margin: 0;
}

@media only screen and (max-width:1440px) and (min-width:1350px) {
    .side_detalis p {
        width: 100%;
    }

    .side_detalis {
        margin: 0px;
    }
}

@media only screen and (max-width:1350px) and (min-width:1024px) {
    .data {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .side_detalis p {
        width: 100%;
    }

    .side_detalis {
        text-align: start;
        display: block;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .footer_center_part {
        display: block;
        justify-content: center;
    }

    .footer_icon_section {
        display: block;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:1024px) and (min-width:932px) {
    .data {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .side_detalis p {
        width: 100%;
    }

    .side_detalis {
        text-align: start;
        display: block;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .footer_center_part {
        display: block;
        justify-content: center;
    }

    .footer_icon_section {
        display: block;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:931px) and (min-width:768px) {
    .footer_top_sectiomn {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .data {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .se_2 {
        margin: 40px 0px;
    }

    .side_detalis p {
        width: 100%;
    }

    .side_detalis {
        text-align: start;
        display: block;
        width: 80%;
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .footer_center_part {
        display: block;
        justify-content: center;
    }

    .footer_icon_section {
        display: block;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:767px) and (min-width:600px) {
    .footer_top_sectiomn {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .data {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .se_2 {
        margin: 40px 0px;
    }

    .side_detalis p {
        width: 100%;
    }

    .side_detalis {
        text-align: start;
        display: block;
        width: 80%;
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .footer_center_part {
        display: block;
        justify-content: center;
    }

    .footer_icon_section {
        display: block;
        margin-bottom: 40px;
    }
    .footer_last_part{
        display: block;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width:599px) and (min-width:515px) {
    .se_1 {
        display: block;
        justify-content: center;
    }

    .se_2 {
        display: block;
        justify-content: center;
    }

    .footer_top_sectiomn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .data {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .se_2 {
        margin: 40px 0px;
    }

    .side_detalis p {
        width: 100%;
    }

    .side_detalis {
        text-align: start;
        display: block;
        width: 80%;
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .footer_center_part {
        display: block;
        justify-content: center;
    }

    .footer_icon_section {
        display: block;
        margin-bottom: 40px;
    }

    .detalis {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #se_1 {
        display: flex;
    }

    #se_2 {
        display: flex;
    }
    .footer_last_part{
        display: block;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width:515px) and (min-width:400px) {
    .se_1 {
        display: block;
        justify-content: center;
    }

    .se_2 {
        display: block;
        justify-content: center;
    }

    .footer_top_sectiomn {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .data {
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .se_2 {
        margin: 40px 0px;
    }

    .side_detalis p {
        width: 100%;
    }

    .side_detalis {
        text-align: start;
        display: block;
        width: 80%;
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .footer_center_part {
        display: block;
        justify-content: center;
    }

    .footer_icon_section {
        display: block;
        margin-bottom: 40px;
    }

    .detalis {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #se_1 {
        display: block;
    }

    #se_2 {
        display: block;
    }
    .footer_last_part{
        display: none;
    }
}
@media only screen and (max-width:400px) and (min-width:320px) {
    .se_1 {
        display: block;
        justify-content: center;
    }

    .se_2 {
        display: block;
        justify-content: center;
    }

    .footer_top_sectiomn {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .data {
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .se_2 {
        margin: 40px 0px;
    }

    .side_detalis p {
        width: 100%;
    }

    .side_detalis {
        text-align: start;
        display: block;
        width: 80%;
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .footer_center_part {
        display: block;
        justify-content: center;
    }

    .footer_icon_section {
        display: block;
        margin-bottom: 40px;
    }

    .detalis {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #se_1 {
        display: block;
    }

    #se_2 {
        display: block;
    }
    .footer_last_part{
        display: none;
    }
}