.slider-container {
    background-color:#D2D5D9;
}

.slick-prev {
    left: 69px;
    background-color:#D2D5D9;
}
.slick-next {
    right: 20px;
    background-color:#D2D5D9;
}

.text-section h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px;
}