* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
}

nav .wrapper {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.wrapper .logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.wrapper .logo a {
    text-decoration: none;
}

.nav-link {
    display: inline-flex;
    flex: 4;
    justify-content: center;
}

.nav-link li {
    list-style-type: none;
}

.nav-link li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    padding: 0px 20px;
}

.icons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.icons a {
    text-decoration: none;
}

.icons a i {
    color: #000000;
    padding: 0px 15px;
    font-size: 20px;
}

.nav-link .drop-menu {
    width: 280px;
    text-align: start;
    top: 90px;
    line-height: 35px;
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
}

.nav-link li:hover .drop-menu,
.nav-link li:hover .mega-box {
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.drop-menu li a {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    padding: 0 0 0 15px;
}

ul .mega-link {
    width: 150px;
    padding: 0px !important;
}

.mega-box {
    position: absolute;
    top: 85px;
    width: 100%;
    background-color: #ffffff;
    left: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

div .rows {
    padding: 20px;
}

.mega-box .content {
    padding: 25px 20px;
    display: flex;
    max-width: 1250px;
    justify-content: space-between !important;
}

header {
    color: #D2D5D9;
    font-size: 20px;
}

.image-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    position: relative;
    left: 100px;
}

.mega-link-image {
    margin: 10px 20px;
}

.mega-link-image p {
    width: max-content;
}

.content .rows {
    width: calc(55% - 30px);
    line-height: 40px;
}

.shop_image {
    width: 400px;
}

.shop_image1 {
    width: 365px;
}

input {
    display: none;
}

label {
    display: none;
}

.wrapper .btn {
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.cancel-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media only screen and (max-width:1430px) and (min-width:1410px) {
    .mega-box {
        width: 70%;
    }

    .mega-box .content {
        max-width: 1100px;
        padding: 25px 0px;
    }

    nav .wrapper {
        max-width: 1400px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media only screen and (max-width:1409px) and (min-width:1300px) {
    .mega-box {
        width: 100%;
    }

    .mega-box .content {
        max-width: 1100px;
        padding: 25px 0px;
    }

    .shop_image {
        width: 300px;
    }

    .shop_image1 {
        width: 300px;
    }

    .image-section {
        left: 0px;
    }
}

@media only screen and (max-width:1300px) and (min-width:1200px) {
    .mega-box {
        width: 90%;
    }

    .mega-box .content {
        max-width: 1000px;
        padding: 25px 0px;
    }

    .shop_image {
        width: 300px;
    }

    .shop_image1 {
        width: 300px;
    }

    .image-section {
        left: 0px;
    }
}

@media only screen and (max-width:1200px) and (min-width:1125px) {
    .mega-box {
        width: 80%;
    }

    .mega-box .content {
        max-width: 1100px;
        padding: 25px 0px;
        justify-content: center !important;
    }

    .shop_image {
        width: 300px;
    }

    .nav-link li a {
        font-size: 15px;
    }

    .shop_image1 {
        width: 300px;
    }

    .image-section {
        left: 0px;
    }
}

@media only screen and (max-width:1125px) and (min-width:1024px) {
    .mega-box {
        width: 100%;
        display: inline-block;
        justify-content: center;
    }

    .mega-box .content {
        max-width: 1100px;
        padding: 25px 0px;
        justify-content: center !important;
    }

    .shop_image {
        width: 250px;
    }

    .shop_image1 {
        width: 250px;
    }

    .image-section {
        left: 0px;
    }
}

@media only screen and (max-width:1024px) and (min-width:320px) {
    .image-section {
        display: none;
    }
    .wrapper .btn {
        display: block;
    }

    nav .wrapper{
        display: flex;
        align-items: center;
    }
    .wrapper .nav-link {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        display: block;
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        background-color: #ffffff;
    }

    #menu-btn:checked ~ .nav-link {
        left: 0%;
    }
    #cnacel-btn:checked ~ .nav-link{
        left: -100%;
    }
    .nav-link ::-webkit-scrollbar {
        width: 0px;
    }

    .nav-link li {
        margin: 0px;
        margin: 15px 10px;
    }

    .nav-link li a {
        padding: 0px 0px;
        display: block;
        font-size: 20px;
    }

    .nav-link .drop-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        top: 65px;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
    }

    #showdrop:checked~.drop-menu,
    #showmega:checked~.mega-box {
        max-height: 100%;
    }

    .nav-link .drop-menu li {
        margin: 0;
    }

    .nav-link .drop-menu li a {
        font-size: 18px;
        border-radius: 5px;
    }

    .nav-link #desktop-item {
        display: none;
    }

    .nav-link .mobile-item {
        display: block;
        font-size: 20px;
        color: #000000;
        font-weight: 500px;
        padding-left: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .nav-link .mobile-item:hover {
        color: #000000;
        background-color: #ffffff;
    }

    .wrapper input {
        display: none;
    }

    .mega-box {
        position: static;
        top: 65px;
        width: 100%;
        background-color: #ffffff;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
    }

    .mega-box .content {
        flex-direction: column;
        padding: 00px 20px 0px 20px;
    }

    .mega-box .content #shopmenu {
        width: 100%;
        margin-bottom: 15px;

    }

    .content #shopmenu .mega-link {
        padding-left: 15px;
    }

    #shopmenu .mega-link li {
        margin: 0px;
    }
    .icons a i{
        font-size: 15px;
    }

}