.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.products {
    margin: 0 auto;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-card {
    cursor: pointer;
    position: relative;
    width: 370px;
    overflow: hidden;
    padding: 10px;
    transition: transform 0.3s;
}

.image-container {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.image-container .hover-image {
    opacity: 0;
}

.image-container .hover-image {
    transition: transform 0.6s ease;

}

.image-container:hover img {
    opacity: 0.3;
    transition: opacity 0.3s ease;
    transform: scale(1.1);
}

.image-container:hover .hover-image {
    opacity: 1;
}

.hover_card1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.6s;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container:hover .hover_card1 {
    opacity: 1;
}

.hover_text1 {
    background-color: #ffffff;
    position: absolute;
    bottom: 20px;
    color: #1A1B18;
    font-family: 'Font Name', sans-serif;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    font-size: 15px;
    padding: 10px 0px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.6s;
}

.image-container:hover .hover_text1 {
    opacity: 1;
}

.hover_icon1 {
    font-size: 20px;
    background-color: #ffffff;
    position: absolute;
    right: 30px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s;
}

.product-card:hover .hover_icon1 {
    opacity: 1;
}

.product-details {
    text-align: justify;
    justify-content: start;
    margin-top: 10px;
    line-height: 2rem;
}

.product-details h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    margin: 0;
}

.product-details p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #999;
    font-size: 1em;
    margin: 5px 0 0;
}

.show-more-button {
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.show-more-button div {
    margin-top: 10px;
    background-color: #000;
    color: #ffffff;
    padding: 10px 20px;
    width: 20%;
}
@media only screen and (max-width:768px) and (min-width:425px){
        .show-more-button div{
            width: 40%;
        }
        .page4_text p{
            font-size: 25px;
        }
}
@media only screen and (max-width:425px) and (min-width:320px){
    .show-more-button div{
        width: 100%;
    }
    .page4_text p{
        font-size: 20px;
    }
}